{% extends 'base.html' %}

{% block body%}
  <div class="container">
    <br>
    <br>
    <h1>
      We've emailed you instructions for setting your password, if an account exists with the email you entered.
      You should receive them shortly.
    </h1>
    <h1>
      <small class="text-muted">
      If you don't receive an email, please make sure you've entered the address you registered with,
      and check your spam folder.
      </small>
    </h1>
    <br>
    <br>
  </div>
{% endblock %}