{% extends 'base.html' %}
{% block body%}

	 <section>
			<div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-in-form">
						<div class="sign-in-form-top">
							<h1>Change password.</h1>
						</div>
						<div class="signin">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="log-input">
                                    <input class="lock" type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password" placeholder="Current password">
                                    <div class="clearfix"> </div>
                                </div>
                                <br>
                                <div class="log-input">
                                    <input class="lock" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="New password">
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="log-input">
                                    <input class="lock" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="Re-type new password">
                                    <div class="clearfix"> </div>
                                </div>

                                {% if form.errors %}
                                <br>
                                <div class="log-input">
                                    <div class="alert alert-danger" role="alert">
                                      Passwords don't match!
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <br>
                                {% endif %}


                                <input type="submit" value="change password">
                            </form>
                        </div>
                        </div>
					</div>
				</div>
			</div>
     </section>
{% endblock body %}