{% extends 'base.html' %}

{% block body%}
  {% if validlink %}
      <section>
        <div id="page-wrapper" class="sign-in-wrapper">
            <div class="graphs">
                <div class="sign-in-form">
                    <div class="sign-in-form-top">
                        <h1>Change password.</h1>
                    </div>
                    <div class="signin">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="log-input">
                                <input class="lock" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="New password">
                                <div class="clearfix"> </div>
                            </div>
                            <div class="log-input">
                                <input class="lock" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="Re-type new password">
                                <div class="clearfix"> </div>
                            </div>

                            {% if form.errors %}
                            <br>
                            <div class="log-input">
                                <div class="alert alert-danger" role="alert">
                                  Passwords don't match or new password not meets thee requirements!
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {% endif %}
                            <br>
                              <p class="lead" style="font-size: 14px">Your password can’t be too similar to your other personal information.</p>
                              <p class="lead" style="font-size: 14px">Your password must contain at least 8 characters.</p>
                              <p class="lead" style="font-size: 14px">Your password can’t be a commonly used password.</p>
                              <p class="lead" style="font-size: 14px">Your password can’t be entirely numeric.</p>
                            <br>
                            <input type="submit" value="change password">
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
  {% else %}
    <div class="container">
        <br>
        <br>
        <h1>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </h1>
        <br>
        <br>
    </div>
  {% endif %}
{% endblock %}